.resetButton {
  background: var(--secondary-background);
  border: calc(var(--pixel-size) * 0.5) solid var(--secondary-background);
  border-radius: calc(var(--pixel-size) * 0.75);
  color: var(--tile-background);
  font-size: calc(var(--pixel-size) * 1.5);
  line-height: calc(var(--pixel-size) * 3);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: calc(var(--pixel-size) * 0.5);
  transition: opacity 0.2s ease;
}

.resetButton:hover {
  opacity: 0.9;
}

@media (min-width: 512px) {
  .resetButton {
    border: calc(var(--pixel-size) * 1) solid var(--secondary-background);
    font-size: calc(var(--pixel-size) * 2);
    line-height: calc(var(--pixel-size) * 3.5);
  }
} 